
mainmenu "iotOS Configuration"

menu "Build Setup"

choice
    prompt "Build Host platform"
    default LINUX_HOST

config LINUX_HOST
    bool "Linux"

config WIN_CYGWIN
    bool "Window Cygwin"

endchoice

config TOOLCHAIN
    string "build toolchain prefix"
    default "arm-none-eabi-"
    depends on LINUX_HOST
    ---help---
        Set build toolchain prefix, for example, x86_64-linux-gnu-
        for amd64, arm-none-eabi- for cortex-m*.

config COMPILE_OPTIMISE_LEVEL
    int "Compile optimize level"
    default 2
    ---help---
        Set to 0 identicals to set -O0 to CFLAGS
        Set to 1 identicals to set -O1 to CFLAGS
        Set to 2 identicals to set -O2 to CFLAGS
        Set to 3 identicals to set -O3 to CFLAGS
        Others, -Os


endmenu # Build Setup


menu "Kernel Configuartion"
source "kernel/Kconfig"
endmenu # Kernel Configuration

menu "Debug Options"
source "kernel/kdebug/Kconfig"
endmenu # Debug Options
