

config BOOT_STACK_SIZE
    hex "boot stack size"
    default 0x400

config TICKS_PER_SEC
    int "ticks per second"
    default 100
    ---help---

menu "Task config"

config MAX_TASK_CNT
    int "max task count supported"
    default 32

endmenu

menu "Timer config"
config DYNAMIC_ALLOC_TIMER
    bool "dynamically allocate timer"
    default y

config PRE_ALLOC_TIMER_CNT
    int "pre-allocate timer cnt"
    default 1
    depends on DYNAMIC_ALLOC_TIMER

endmenu

menu "Semphore config"

config PRE_ALLOC_HOLDER_CNT
    int "pre-allocate semphore holder cnt"
    default 32

config DYNAMIC_ALLOC_HOLDER
    bool "dynamically allocate semphore holder"
    default y

endmenu


choice
    prompt "mm debug level"
    default MM_DEBUG_ERROR

config MM_DEBUG_ERROR
    bool "enable kernel mm error msg"

config MM_DEBUG_DEBUG
    bool "enalbe kernel mm debug msg"

config MM_DEBUG_INFO
    bool "enable kernel mm info msg"

config MM_DEBUG_NONE
    bool "disable kernel mm msg"

endchoice
